{% extends 'includes/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}
<title>HealthCare Clinic - Sign Up</title>
{% endblock title %}

{% block content %}
<div class="header-row" style="display: flex; justify-content: space-between; align-items: center;">
    <h4><b>Sign Up</b>
    </h4>
</div>
<hr>

<div class="container">

    <form method="post" novalidate>

        {% csrf_token %}

        {% include "includes/form.html" %}

        <button type="submit" class="btn btn-primary">Sign Up</button>

    </form>


</div>

{% endblock content %}