{% extends 'includes/base.html' %}

{% block title %}
<title>Dashboard Page</title>
 {% endblock title %}

{% block content %}


        <a href="{% url 'core:home-page' %}" >    <!-- used jinja template, this is it's syntax / it also contains dynamic content -->
            <h2>Back to Home !</h2>
        </a>
        <h2>Dashboard page</h2>
        
        <hr>
    
        <ul>
            {% for num in numbers %}          <!-- different way of accessing python dictionary in html -->
                <li>
                    {{ num }}
                </li>
            {% endfor %}
        </ul>
    
        <hr>
    
        <ul>
            {% for name in names %}
                <li>
                    {{ name }}
                </li>
            {% endfor %}
            </ul>
    

{% endblock content %}
