{% extends 'includes/base.html' %}

{% block title %}
<title>Department Information</title>
 {% endblock title %}

{% block content %}

        <table class = "table table-striped">

            <thead class="thead-dark">

                <tr>

                    <th>DEPARTMENT ID</th>
                    <th>DEPARTMENT NAME</th>
                    <th>LOCATION</th>

                </tr>

            </thead>
            <tbody>

                {% for dept in depts %}
                <tr>
                    <td>{{dept.dept_id}}</td>
                    <td>
                        <a href="{% url 'core:department_details' dept.dept_id %}">    <!-- here dept_id is given coz then it will be seen in url -->
                            {{dept.dept_name}}
                        </a>
                    </td>
                    <td>{{dept.location}}</td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

        {% endblock content %}