<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <a href="{% url 'home-page' %}" >    <!-- used jinja template, this is it's syntax / it also contains dynamic content -->
        <h2>Back to Home !</h2>
    </a>
    <h2>Dashboard page</h2>
    
    <hr>

    <ul>
        {% for num in numbers %}          <!-- different way of accessing python dictionary in html -->
            <li>
                {{ num }}
            </li>
        {% endfor %}
    </ul>

    <hr>

    <ul>
        {% for name in names %}
            <li>
                {{ name }}
            </li>
        {% endfor %}
        </ul>
    
</body>

</html>